@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 outline: none;
}
html{
 font-size: 16px;
}

body{
 font-family: 'Noto Sans', sans-serif;
 background-color: white;
 color: black;
 display: flex;
 flex-direction: row;
 
}
.container{
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 border: 5px solid #513E50;
 padding: 1rem;
 width: 80%;
 text-align: center;
 background-color: greenyellow;
 
}
.box{
 display: flex;
 text-align: center;
 justify-content: center;
 width: 10rem;
 height: 10rem;
 background-color: brown;
 border: 10px solid red;
 color: beige;
 font-size: 4rem;
 font-weight: 600;

 
 
 
}